.day-box {
    width: 5rem;
    height: 5rem;
    background: var(--bg);
    color: var(--text);
    border: 2px solid var(--text);
    font-size: x-large;
    font-weight: 600;
    border-radius: 5%;
    cursor: pointer;
}

.day-box:hover {
    background: oklch(from var(--bg) calc(l - 0.1) c h);
}

.day-box:focus-visible {
    background: oklch(from var(--bg) calc(l - 0.1) c h);
}

.day-box.completed {
  /* background: color-mix(in oklch, var(--bg),  40%); */
  background: #27c9155f;
  color: #27c915;
  border-color: #27c915;
}

.day-box.completed:hover,
.day-box.completed:focus-visible {
  background: color-mix(in oklch, var(--bg), #27c915 32%);
}
