.outer {
    position: relative;
    width: 10rem;
    background-color: var(--bg);
    border: 2px solid black;
    padding: 1rem;
    
}

.theme-options {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;

  width: 100%;
  max-width: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* optional: space from edges */
  padding: 0 0.5rem;

  /* hide scrollbar (Firefox) */
  scrollbar-width: none;
}

/* hide scrollbar (Chrome, Safari, Tauri WebView) */
.theme-options::-webkit-scrollbar {
  display: none;
}
