html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;

  --text: #313131;
  --bg: #f8f0e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f8f0e3;
    --bg: #313131;
  }
}

.dark {
  --text: #f8f0e3;
  --bg: #313131;
}

.light {
  --text: #313131;
  --bg: #f8f0e3;
}

.black-yellow {
  --text: #d6ba00;
  --bg: #313131;
}

.blue-white {
  --text: #f8f0e3;
  --bg: #26a0be;
}

body {
  color: var(--text);
  background-color: var(--bg);
}